.main-header {
    text-align: center;
    width: 100%;
    height: auto;
  }

#headerImage{
  height: 130px;
  width: 100%;
}

p{
    color: white;
    font-size: 29px;
    font-family: monospace;
    padding-top: 10px;
  }


.left {
    float: left;
    width: 50px;
    border: 0px;
    padding: 2px;
}

.address{
  width: 167px;
}

.registration {
    margin-top: -75px;
    margin-right: 454px;
    margin-left: 405px;
    background-color: cadetblue;
    height: 55px;
    width: 464px;
}

#align {
    margin-top: 0px;
    margin-right: 455px;
    margin-left: 404px;
    border: 1px solid yellow;
    background-color: lightyellow;
    padding: 25px 0px;
    height: auto;
    width: 464px;
}

#dob{
    width: 167px;
}

#banner{
    height: 130px;
}


.footer {
   background-color: cadetblue;
    border: none;
    color: white;
    padding: 3px 5px;
    font-size: 16px;
    text-align: center;
    font-family: monospace;

}

.footer:hover {
  background-color: RoyalBlue;
}

#button{
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 6px 21px;
    font-size: 16px;
    margin: 21px 200px 4px 190px;
    text-align: center;
    border-radius: 8px;

}

#captchans{  
    margin: 4px 200px 4px 174px;
    width: 113px;
    padding: 5px;
}

.btn{
  background-color: cadetblue;
    border: none;
    color: white;
    font-size: 16px;
    margin: 10px 163px 9px 174px;
    text-align: center;
    font-family: monospace;
    height: 25px;
    padding: 3px;

}

.color{
  color: red;
}

#divOffer{
  width: 330px;
}

#offer{
  width: inherit;
  position: relative;
  animation-duration: 6s;
  animation-name: offer;
  opacity: 0;
  animation-iteration-count: infinite;
}

@keyframes offer {
  0%   {opacity: 0.1}
  25%  {opacity: 0.4}
  50%  {opacity: 0.7}
  100% {opacity: 1}
}

@media screen and (max-width: 600px)
{
  #headerImage{
    max-height: 130px;
    width: 100%;
  

  }

  .registration, #align{
    width: 100%;
    margin-left: 0px;
    margin-top: auto;
    }

    #divOffer{
      width: 100%;
    margin-top: 0;
    }



    #formDiv{
      width: 100%;
      position: relative;
    }

    .btn{
      position: relative;
      min-width: 120px;
      max-width: 120px;
    }
}



  
  



